<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.untappedkegg.rally">

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- To get data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To check for network connections, and determine the type -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To save images on external memory -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- Vibrate when a notification is received -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Restart event notifications on reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AppState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.ActivityMain"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".event.EventActivity"
            android:label="Event Details"
            android:parentActivityName=".home.ActivityMain"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.ActivityMain" />
        </activity>
        <activity
            android:name=".stages.ActivityStages"
            android:label="Event Stages"
            android:parentActivityName=".home.ActivityMain"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.ActivityMain" />
        </activity>

        <receiver
            android:name=".widget.NextEventWidget"
            android:label="@string/widget_next_event">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_event_widget_info" />
        </receiver>
        <receiver
            android:name=".receivers.EventNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.untappedkegg.rally.notification.NEXT_EVENT_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.GlobalReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <!-- Analytics for non GPS devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="362fcc11fa857aa77ea8d19eb321aee01fd57ed6" />

    </application>

</manifest>
